{% if not hidden %}
    <footer class="footer">
        <div class="container">
            Mediasite Recorder Monitor - Version <span id="ms-mon-version">{{ app_version }}</span>
            (Build: <span title="{{ app_build_time }}">{{ app_build }}</span>)
            {% if defined(issue_link) and not hide_issue_link %}
                <span style="float: right"><a href="{{ issue_link }}" target="_blank">Report an issue!</a></span>
            {% endif %}
        </div>
    </footer>
{% endif %}


<script type="application/javascript"
        src="/assets/js/jquery.min.js"></script>
<script type="application/javascript"
        src="/assets/js/popper.min.js"></script>
<script type="application/javascript"
        src="/assets/js/bootstrap.min.js"></script>
<script type="application/javascript"
        src="/assets/js/sweetalert.min.js"></script>
<script type="application/javascript"
        src="/assets/js/sorttable.min.js"></script>
<script type="application/javascript"
        src="/assets/js/main.min.js"></script>

{% if first_login %}
    {% include "modal-welcome.twig" %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#welcomeModal").modal({
                keyboard: false,
                show: true,
                focus: true
            });
        });
    </script>
{% endif %}

{% block page_assets %}
{% endblock %}
</body>
</html>