{% if not hidden %}
    <footer class="footer">
        <div class="container">
            Mediasite Recorder Monitor - Version <span id="ms-mon-version">{{ app_version }}</span>
            (Build: <span title="{{ app_build_time }}">{{ app_build }}</span>)
            {% if defined(issue_link) and not hide_issue_link %}
                <span style="float: right"><a href="{{ issue_link }}" target="_blank">Report an issue!</a></span>
            {% endif %}
        </div>
    </footer>
{% endif %}


<script type="application/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="/assets/lib/sweetalert.min.js"></script>
<script type="application/javascript"
        src="/assets/lib/sorttable.js"></script>
<script type="application/javascript"
        src="/assets/js/navbar.js"></script>

{% if first_login %}
    {% include "modal-welcome.twig" %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#welcomeModal").modal({
                keyboard: false,
                show: true,
                focus: true
            });
        });
    </script>
{% endif %}

{% block page_assets %}
{% endblock %}
</body>
</html>