<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MS Recorder Monitor</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    <script defer
            type="application/javascript"
            src="/assets/js/fontawesome.min.js"></script>

    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="apple-touch-icon" href="/assets/images/touch-ico.png">
    <link rel=icon href="/assets/images/touch-ico.png">

    {% block page_assets %}
    {% endblock %}
</head>
<body class="{{ active }}">