<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MS Recorder Monitor</title>

    <link rel="apple-touch-icon" href="/assets/images/touch-ico.png">
    <link rel=icon href="/assets/images/touch-ico.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/a96dce8fd1.css">
    <link rel="stylesheet" href="/assets/lib/sweetalert.css">

    {% if (active != 'login') %}
        <link rel="stylesheet" href="/assets/css/common.css">
    {% endif %}

    {% block page_assets %}
    {% endblock %}
</head>
<body>