<div class="modal fade" tabindex="-1" role="dialog" id="createUserModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">External User Management</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Users are managed by the configured SSO (OIdC), and not directly through Mediasite Recorder Monitor.
                    If you would like to create a new user account, have them use their SSO account (creating one if
                    necessary) to access this website. On first login, they will be prompted if they would like
                    to be notified of notified of Recorder Outages.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>