{# TODO Update IDs to not conflict with Update User Modal IDs #}
<div class="modal fade" id="updateUserModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Monitor User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" onsubmit="updateUser(); return false;">
                    <input type="hidden" id="userPK">
                    <div class="form-group row">
                        <label for="updateEmail" class="col-sm-3 col-form-label">Email: </label>
                        <div class="col-sm-9">
                            <input readonly class="form-control-plaintext" title="Email" type="email" id="updateEmail">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="updateFirstName" class="col-sm-3 col-form-label">Name: </label>
                        <div class="col-sm-9">
                            <input readonly class="form-control-plaintext" title="Name" type="text" id="updateName"
                                   required>
                        </div>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label mr-2">
                            <input class="form-check-input" type="checkbox" value="" id="updateNotifyCheckbox">
                            Notify User via Email on Recorder Alarms
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger float-left mr-auto" onclick="deleteUser()"
                        id="deleteUserBtn">Delete User
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="$('#updateUserModal').find('form').submit()">
                    Update
                    User
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="updateSelfModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update My Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    <strong><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; Updating your Name and
                        Email</strong>
                    In order to update your name and/or email address. Update them in the External Identity Provider
                    (SSO), then logout of MediaSite Recorder Monitor. When you login next, your email address and name
                    will be updated with the information provided by the Identity Provider.
                </div>
                <form action="#" onsubmit="updateOwnInfo(); return false;">
                    <input type="hidden" id="update_selfPK" value="{{ user.PK }}">
                    <div class="form-group row">
                        <label for="update_selfEmail"
                               class="col-sm-3 col-form-label">Email: </label>
                        <div class="col-sm-9">
                            <input readonly
                                   class="form-control-plaintext"
                                   title="Email"
                                   type="email"
                                   id="update_selfEmail"
                                   value="{{ user.email }}"
                                   required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="update_selfName"
                               class="col-sm-3 col-form-label">Name: </label>
                        <div class="col-sm-9">
                            <input readonly
                                   class="form-control-plaintext"
                                   title="Name"
                                   id="update_selfName"
                                   value="{{ user.name }}"
                                   required>
                        </div>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label mr-2">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value=""
                                   id="update_selfNotifyCheckbox"
                                   {% if user.notify %}checked{% endif %}>
                            Notify Me on Recorder Alarms
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="$('#updateSelfModal').find('form').submit()">
                    Update
                    Info
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->