<div class="modal fade" id="RecorderInfo">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recorder - <span class="modal-recorder-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col col-4">ID:</div>
                        <div class="col col-8"><span class="modal-recorder-id"></span></div>
                    </div>
                    <div class="row">
                        <div class="col col-4">Name:</div>
                        <div class="col col-8"><span class="modal-recorder-name"></span></div>
                    </div>
                    <div class="row">
                        <div class="col col-4">Description:</div>
                        <div class="col col-8"><span class="modal-recorder-description"></span></div>
                    </div>
                    <div class="row">
                        <div class="col col-4">Serial Number:</div>
                        <div class="col col-8"><span class="modal-recorder-serial"></span></div>
                    </div>
                    <div class="row">
                        <div class="col col-4">Version:</div>
                        <div class="col col-8"><span class="modal-recorder-version"></span></div>
                    </div>
                    <div class="row">
                        <div class="col col-4">Last Version Update Date:</div>
                        <div class="col col-8"><span class="modal-recorder-updated"></span></div>
                    </div>
                    <div class="row">
                        <div class="col col-4">Physical Address:</div>
                        <div class="col col-8"><span class="modal-recorder-address"></span></div>
                    </div>
                    <div class="row">
                        <div class="col col-4">Image Version:</div>
                        <div class="col col-8"><span class="modal-recorder-img-version"></span></div>
                    </div>
                    <div class="row">
                        <div class="col col-4">Last Seen:</div>
                        <div class="col col-8"><span class="modal-recorder-last-seen"></span></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>