<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% if (active == 'index') %}#{% else %}/{% endif %}">
        <img src="/assets/images/logo-bug.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        MS Recorder Monitor
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if (active == 'index') %} active {% endif %}">
                <a class="nav-link" href="{% if (active == 'index') %}#{% else %}/{% endif %}">Overview</a>
            </li>
            {% if defined(user) and user != null %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="manageDropdownMenuLink"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Manage
                    </a>
                    <div class="dropdown-menu" aria-labelledby="manageDropdownMenuLink">
                        <a class="dropdown-item {% if (active == 'manage-users') %} active {% endif %}"
                           href="{% if (active == 'manage-users') %}#{% else %}/manage/users{% endif %}">Users</a>
                        <a class="dropdown-item {% if (active == 'manage-integrations') %} active {% endif %}"
                           href="{% if (active == 'manage-integrations') %}#{% else %}/manage/integrations{% endif %}">External
                            Integrations</a>
                        <a class="dropdown-item {% if (active == 'manage-rates') %} active {% endif %}"
                           href="{% if (active == 'manage-rates') %}#{% else %}/manage/rates{% endif %}">Rates</a>
                    </div>
                </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav justify-content-end">
            {% if defined(user) and user != null %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i> <span
                                id="header-user-name">{{ user.firstName }}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdownMenuLink">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#updateSelfModal">
                            <i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;
                            Update Info</a>
                        <a class="dropdown-item" href="/api/logout"><i class="fa fa-sign-out"
                                                                       aria-hidden="true"></i>&nbsp; Log Out</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="login">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% include "modal-update-self.twig" %}