td.recorder-status {
  font-weight: bold;
  text-transform: uppercase;
}

.recorder-status {
  &.status-0, &.status-1 {
    color: #636C72;
  }
  &.status-2 {
    color: #5CB859;
  }
  &.status-3, &.status-4, &.status-5, &.status-6 {
    color: #0275D8;
  }
  &.status-7 {
    color: #f0AD4E;
  }
  &.status-8, &.status-9, &.status-10, &.status-11, &.status-12, &.status-13, &.status-14, &.status-15, &.status-16, &.status-17, &.status-18, &.status-19 {
    color: #D9534F;
  }
}

td.recorder-info {
  color: black;
  &:hover {
    color: #002569;
  }
}

#RecorderInfo div.modal-body div.row {
  div:nth-child(1) {
    font-weight: bold;
  }
  margin-top: 2px;
}