body {
    /* NAV BAR*/
    padding-top: 4.5rem;
}

li.nav-item {
    padding-left: .5em;
    padding-right: .5em;
}

#view-container {
    padding-top: 1rem;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    font-weight: 700;
    color: black;
}

.navbar-default .navbar-nav > li > a {
    color: #555;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #333;
}

.active.disabled, .disabled, .disabled:focus, .disabled:hover {
    color: #999 !important;
}

/* Sorting and related Icons */
#sorttable_sortfwdind,
#sorttable_sortrevind {
    display: none;
}

/*noinspection CssNoGenericFontName*/
table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
    font-family: fontawesome;
    padding-left: 5px;
    display: inline-block;
}

th.sorttable_sorted::after {
    content: "\f0d8";
}

th.sorttable_sorted_reverse::after {
    content: "\f0d7";
}