html {
    position: relative;
    min-height: 100%;
}

body {
    /* NAV BAR*/
    padding-top: 4.5rem;

    /* Margin bottom by footer height */
    margin-bottom: 40px;
}

li.nav-item {
    padding-left: .5em;
    padding-right: .5em;
}

body > div.container {
    margin-bottom: 4rem;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    font-weight: 700;
    color: black;
}

.navbar-default .navbar-nav > li > a {
    color: #555;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #333;
}

.active.disabled, .disabled, .disabled:focus, .disabled:hover {
    color: #999 !important;
}

@media (min-width: 992px) {
    [aria-labelledby="userDropdownMenuLink"] {
        margin-left: -75px;
    }
}

/* Sorting and related Icons */
#sorttable_sortfwdind,
#sorttable_sortrevind {
    display: none;
}

/*noinspection CssNoGenericFontName*/
table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
    font-family: fontawesome;
    padding-left: 5px;
    display: inline-block;
}

th.sorttable_sorted::after {
    content: "\f0d8";
}

th.sorttable_sorted_reverse::after {
    content: "\f0d7";
}

/* Page Header Styles */
div.header {
    border-bottom: .25px solid rgba(0,0,0,.25);
}

/* General Table Styles */
.table th {
    border-top: none;
}

/* Footer Styles*/
.footer {
    position: absolute;
    bottom: .5rem;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 35px; /* Vertically center the text there */
    font-size: .75rem;
}

.footer .container {
    border-top: solid #E0E0E0 1px;
    color: #666666;
    cursor: default;
}

.footer .container a, .footer.container a:hover {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

footer.footer a:not(.icon):hover,
footer.footer a:visited:not(.icon):hover {
    border-bottom-color: #1166BB;
}

footer.footer a:not(.icon),
footer.footer a:visited:not(.icon) {
    border-bottom: 1px solid #d3d6db;
}

footer.footer a:hover,
footer.footer a:visited:hover {
    color: #222324;
}

footer.footer a,
footer.footer a:visited {
    color: #69707a;
}

/* Modal Styles */
.modal form label.col-form-label {
    font-weight: 600;
}