td.recorder-status {
    font-weight: bold;
    text-transform: uppercase;
    /* TODO Add Color to text based on status codes */
}

td.recorder-info {
    color: black;
}

td.recorder-info:hover {
    color: #002569;
}

#RecorderInfo div.modal-body div.row div:nth-child(1) {
    font-weight: bold;
}

#RecorderInfo div.modal-body div.row {
    margin-top: 2px;
}