<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">
    <display-name>MediaSite Recorder Monitor</display-name>

    <absolute-ordering/>

    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>systems.whitestar.mediasite_monitor.Routes.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Manage-Integrations</servlet-name>
        <servlet-class>systems.whitestar.mediasite_monitor.Routes.ManageIntegration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Manage-Integrations</servlet-name>
        <url-pattern>/app/manage/integrations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Manage-Rates</servlet-name>
        <servlet-class>systems.whitestar.mediasite_monitor.Routes.ManageRates</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Manage-Rates</servlet-name>
        <url-pattern>/app/manage/rates</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Manage-Users</servlet-name>
        <servlet-class>systems.whitestar.mediasite_monitor.Routes.ManageUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Manage-Users</servlet-name>
        <url-pattern>/app/manage/users</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>API</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>

        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>systems.whitestar.mediasite_monitor.API</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>API</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>systems.whitestar.mediasite_monitor.API.APIFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>

    <!-- LOGIN BELOW -->
    <filter>
        <filter-name>callbackFilter</filter-name>
        <filter-class>org.pac4j.j2e.filter.CallbackFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>defaultUrl</param-name>
            <param-value>/</param-value>
        </init-param>
        <init-param>
            <param-name>renewSession</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>multiProfile</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>callbackFilter</filter-name>
        <url-pattern>/callback</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>OpenIDFilter</filter-name>
        <filter-class>org.pac4j.j2e.filter.SecurityFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>configFactory</param-name>
            <param-value>systems.whitestar.mediasite_monitor.LoginConfigFactory</param-value>
        </init-param>
        <init-param>
            <param-name>clients</param-name>
            <param-value>OidcClient</param-value>
        </init-param>
        <init-param>
            <param-name>authorizers</param-name>
            <param-value>securityHeaders</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>OpenIDFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>OpenIDFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>logoutFilter</filter-name>
        <filter-class>org.pac4j.j2e.filter.LogoutFilter</filter-class>
        <init-param>
            <param-name>defaultUrl</param-name>
            <param-value>/?defaulturlafterlogout</param-value>
        </init-param>
        <init-param>
            <param-name>destroySession</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>logoutFilter</filter-name>
        <url-pattern>/logout</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <!-- LOGIN ABOVE -->

    <listener>
        <listener-class>systems.whitestar.mediasite_monitor.Init</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>

